@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@font-face {
  font-family: 'CorsicaRegular';
  src: url('../fonts/CorsicaRamblerLX/Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'WilliamRegular';
  src: url('../fonts/WilliamTextPro/WilliamTextProReg.ttf');
}
