@import './fonts.scss';

// COLORS
$mainColor: #272727;
$lightColor: #fff;
$lightGold: #dcad68;
$darkColor: #1d1d1d;
$darkGold: #9c6d41;
$gradient: linear-gradient(90deg, $darkGold, $lightGold, $darkGold);

// FONTS
$OpenSans: 'Open Sans', sans-serif;
$Corsica: 'CorsicaRegular', sans-serif;
$William: 'WilliamRegular';
