@import '../../assets/scss/variable.scss';

.section-contact {
  margin-top: 82px;
}

.contact {
  width: 100%;
  // height: 381px;
  box-sizing: border-box;
  margin-bottom: 131px;
  padding: 50px;
  background: url('../../assets/images/about2.png');
  background-size: cover;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

  &-text {
    font-size: $William;
    color: #fff;
    font-weight: 400;

    &__title {
      font-size: 49px;
    }

    &__subtitle {
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 49px;
    }
  }

  &-social {
    font-family: $OpenSans;
    margin-top: 50px;

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    &__title {
      margin-left: 20px;
      font-weight: 700;
      color: #fff;

      &__value {
        color: #828282;

        a {
          color: #828282;
          text-decoration: none;
          font-weight: 400;
        }
      }
    }
  }

  &-form {
    max-width: 768px;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #9c6d41, #dcad68, #9c6d41);
    box-sizing: border-box;
    padding: 26px;

    &-group {
      &--flex {
        display: flex;
      }

      &--center {
        align-items: center;
        justify-content: center;
      }
    }

    &-control {
      font-family: $OpenSans;
      border: none;
      border-bottom: 1px solid #535353;
      background: transparent;
      padding-bottom: 16px;
      width: 100%;
      font-size: 17px;
      color: #535353;
      font-weight: 400;
      outline: none;

      &::placeholder {
        font-size: 17px;
        color: #535353;
      }
    }

    &__input {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__textarea {
      resize: none;
      margin-top: 79px;
    }

    &__button {
      border: 3px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(90deg, #9c6d41, #dcad68, #9c6d41);
      background: linear-gradient(90deg, #9c6d41 0%, #dcad68 100%);
      max-width: 290px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      color: #fff;
      height: 39px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1300px) {
  .contact {
    flex-direction: column;
    align-items: center;

    &-form {
      margin-top: 35px;
    }

    &-text {
      &__title,
      &__subtitle {
        font-size: 42px;
      }
    }
  }
}

@media (max-width: 600px) {
  .contact-social__title {
    line-height: 20px;
  }
}

@media (max-width: 400px) {
  .contact-text {
    &__title,
    &__subtitle {
      font-size: 30px;
    }
  }

  .contact-social__title {
    font-size: 14px;
  }
}
