@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/variable.scss';

.overlay {
  width: 100%;
  height: 0;
  position: absolute;
  top: 90px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.4s;
  z-index: 999;

  &--active {
    height: calc(100vh - 90px);
    z-index: 999;
  }

  &-wrapper {
    padding-top: 17px;
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.submenu {
  font-family: $Corsica;
  width: 350px;
  height: 320px;
  padding: 35px 0 35px 45px;
  background: #222;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;

  &__item {
    margin-bottom: 25px;
  }

  &__link {
    color: $lightColor;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    position: relative;

    &__arrow {
      opacity: 0;
      position: absolute;
      right: -1px;
      transition: 0.2s;
    }

    &:hover &__arrow {
      opacity: 1;
    }
  }

  ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 100%;
    background: $mainColor;
    width: 100%;
    height: 100%;
    padding: 35px 45px;
    box-sizing: border-box;
    transition: 0.2s;
  }

  &__item:hover ul {
    opacity: 1;
    visibility: visible;
  }
}

// .submenu.submenu__item:hover {
//   left
// }
